/* All Pages */

.h-100vh {
  height: 100vh;
}

/* Auth Pages */
.center-card {
  height: 100%;
  display: grid;
  align-items: center;
}

.see-pass-postition {
  position: absolute;
  right: 67px;
  top: 57%;
  cursor: pointer;
}

.see-pass-postition-register {
  position: absolute;
  right: 15px;
  top: 35%;
  cursor: pointer;
}
